@{
    ViewBag.Title = "Home Page";
    @Model
}

<div class="jumbotron">
    <p>
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Title: @Html.TextBox("SearchString") <br />
            <input type="submit" value="Filter" />
        </p>
    }
    <ul>

        @foreach (var book in ViewBag.Books)
        {
            <li>

                @Html.Partial("BookResult", (BookUp.Models.Book) book)
                
            </li>

        }
    </ul>
</div>

