
@{
    ViewBag.Title = "BookResult";
}

<div>
    <h1>@Model.Title</h1>
    <div>
        <b>
            Authors:
        </b>
        @foreach (var author in @Model.Authors)
        {
            @author.ToString()
        }
        <p>
            Page Count:@Model.PageCount <br/>
            @*Description:@Model.Description <br />
            Published Date:@Model.PublishedDate <br />
            Average Rate:@Model.AverageRate <br />*@

        </p>

    </div>
</div>

